/*
 ASD Project 1
 Christopher Addington
 Term 0312, 27 February 2012
*/


label.error{
	display: block;
	margin: 10px 0;
}

.ui-bar-a {
	border: 1px solid #141714 /*{a-bar-border}*/;
	background:  			#e9eaeb  /*{a-bar-background-color}*/;
	color: #e2ef35 /*{a-bar-color}*/;
	font-weight: bold;
	text-shadow:  0  /*{a-bar-shadow-x}*/  1px  /*{a-bar-shadow-y}*/  1px  /*{a-bar-shadow-radius}*/ #141714 /*{a-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #474745 /*{a-bar-background-start}*/), to( #5c5b5a /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #474745 /*{a-bar-background-start}*/, #5c5b5a /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
}
.ui-bar-a .ui-link-inherit {
	color: #e2ef35 /*{a-bar-color}*/;
}
.ui-bar-a .ui-link {
	color:  #7cc4e7  /*{a-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-a .ui-link:hover {
	color:  #e2ef35  /*{a-bar-link-hover}*/;
}

.ui-bar-a .ui-link:active {
	color:  #e2ef35  /*{a-bar-link-active}*/;
}

.ui-bar-a .ui-link:visited {
    color:  #2489CE  /*{a-bar-link-visited}*/;
}

.ui-bar-a,
.ui-bar-a input,
.ui-bar-a select,
.ui-bar-a textarea,
.ui-bar-a button {
	  font-family: Helvetica /*{global-font-family}*/;
}
.ui-body-a {
	border: 1px solid #B3B3B3 /*{a-body-border}*/;
	color:  	#E2EF35  /*{a-body-color}*/;
	text-shadow:  0  /*{a-body-shadow-x}*/  1px  /*{a-body-shadow-y}*/  0  /*{a-body-shadow-radius}*/  #141714 /*{a-body-shadow-color}*/;
	background: #2a692d /*{a-body-background-color}*/;
	background-image: -webkit-radial-gradient(50px 50px, circle cover, #3e9842 10%, #37863a 25%, #2a692d 45%, #37863a 75%, #3e9842 90%);
}
.ui-body-a,
.ui-body-a input,
.ui-body-a select,
.ui-body-a textarea,
.ui-body-a button {
	  font-family: Helvetica /*{global-font-family}*/;
}

.ui-body-a .ui-link-inherit {
	color:  	#e2ef35  /*{a-body-color}*/;
}

.ui-body-a .ui-link {
	color: #e2ef35 /*{a-body-link-color}*/;
	text-align: center;
	font-weight: bold;
}

.ui-body-a .ui-link:hover {
	color:  #2489CE  /*{a-body-link-hover}*/;
}

.ui-body-a .ui-link:active {
	color:  #2489CE  /*{a-body-link-active}*/;
}

.ui-body-a .ui-link:visited {
    color:  #2489CE  /*{a-body-link-visited}*/;
}

.ui-btn-up-a {
	border: 1px solid #141714 /*{a-bup-border}*/;
	background: #eee /*{a-bup-background-color}*/;
	font-weight: bold;
	color: #e2ef35 /*{a-bup-color}*/;
	text-shadow: 0 /*{a-bup-shadow-x}*/  1px  /*{a-bup-shadow-y}*/  1px  /*{a-bup-shadow-radius}*/ #141714 /*{a-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #474745 /*{a-bup-background-start}*/), to( #5c5b5a /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #474745 /*{a-bup-background-start}*/, #5c5b5a /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
}
.ui-btn-up-a a.ui-link-inherit {
	color: #e2ef35 /*{a-bup-color}*/;
}

.ui-btn-hover-a a.ui-link-inherit {
	color:  					#2F3E46  /*{a-bhover-color}*/;
}
.ui-btn-down-a {
	border: 1px solid  		#808080  /*{a-bdown-border}*/;
	background:  			#fdfdfd  /*{a-bdown-background-color}*/;
	font-weight: bold;
	color:  					#2F3E46  /*{a-bdown-color}*/;
	text-shadow:  0  /*{a-bdown-shadow-x}*/  1px  /*{a-bdown-shadow-y}*/  1px  /*{a-bdown-shadow-radius}*/  #ffffff  /*{a-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(  #eee  /*{a-bdown-background-start}*/), to(  #fdfdfd  /*{a-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top,  #eee  /*{a-bdown-background-start}*/,  #fdfdfd  /*{a-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
}
.ui-btn-down-a a.ui-link-inherit {
	color:  					#2F3E46  /*{a-bdown-color}*/;
}
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a {
	  font-family: Helvetica /*{global-font-family}*/;
	text-decoration: none;
}
img[id=brandlogohome]{
	margin: 0px;
	width: 100%;
}
img[id=brandlogo]{
	margin: 0px 0px;
	width: 60%;
}
img[id=ctaimg]{
    margin: 10px 0 20px;
    width: 100%;
}
header h1:nth-child(1) {
    width: auto;
    padding: 5px;
    margin: 0 0 20px 0;
    font: bold 36px Helvetica;
    color: #E2EF35;
    text-align: center;
    text-shadow: 1px 1px #141714;
    border: 1px solid #141714;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(top, #474745, #5c5b5a 75%);
}
h1 label:nth-child(1) {
    font: bold 20px Helvetica;
}
h1 a {
    text-decoration: none;
    color: black;
}
form[id=search]{
    display: block;
    width: auto;
    margin:auto;
}
form select:nth-child(1) {
    margin: 0 0 20px 0;
}
select option {
    font: 14px Helvetica;
}
form fieldset {
    border: thin solid #141714;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(top, #474745, #5c5b5a 25%);
}
fieldset legend {
    font: bold 18px Helvetica;
    color: #e2ef35;
    text-shadow: 1px 1px #141714;
    padding: 20px 0 0 0;
    letter-spacing: 10px;
}
fieldset span {
    font: small Helvetica;
}
ul li {
    margin: 0 0 10px 0;
    font: 14px Helvetica;
    line-height: 15px;
    list-style: none;
}
ul[id=sportslist] ul{
    text-align: center;
    text-shadow: 1px 1px #141714;
    font: bold 24px Helvetica;
    margin: 2px 0 2px 0;
    border: thin solid #141714;
    border-radius: 10px;
    padding: 15px;
    background-image: -webkit-linear-gradient(top, #474745, #5c5b5a, #474745 100%);
}
ul[id=sportslist] * ul:nth-child(1){
    margin: 25px 0 2px 0;
}
ul[id=sportslist] a{
    text-decoration: none;
    color: #e2ef35;
}
nav a {
    font: bold 14px Helvetica;
    text-decoration: none;
    color: #e2ef35;
    margin: 0 10px 0 0;
    padding: 3px;
    border: thin solid #141714;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(top, #474745, #5c5b5a 100%);
    box-shadow: 2px 2px 0 0 rgba(110,110,110,1);
}
h1 a:nth-child(1) {
    font: bold 18px Helvetica;
    padding: 5px;
    border: thin solid #141714;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(top, #94d996, #71a873 100%);
    box-shadow: 2px 2px 0 0 rgba(110,110,110,1);
}
section p:nth-child(1) {
    font: bold 14px Helvetica;
}
li label {
    font: 14px Helvetica;
}
input[id=searchbox]{
    width: 60%;
    display: block;
    margin: 20px 0 0;
    border-radius: 10px;
}
input[id=gosearch]{
    margin: 3px;
}
